*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Arial;
}

body{
    background-color: #5C4B8A;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
}

input{
    padding: 5px;
    margin: 5px;
    width: 100%;
    border: 2px solid #734F96;
    margin-bottom: 2.5vh;
    background: transparent;
    padding-left: 1vw;
}

button{
    display: flex;
    height: 4.5vh;
    align-items: center;
    justify-content: center;
    width: 7vw;
    font-size: 2vh;
    background: #E6D7FF;
    border: 2px solid #734F96;
    font-weight: bold;
    color: #734F96;
}

button:active{
    background: #755975;
}

.form_box{
    display: flex;
    flex-direction: row;
    background: white;
    width: 75vw;
    height: 80vh;
    border-radius: 20px;
    align-items: center;
    position: relative;
    
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.inputs{
    align-items: center;
    display: flex;
    width: 25vw;
    flex-direction: column;
    position: absolute;
    left: 60%;
}

.backimg{
    display: flex;
    flex-direction: column;
    background-image: url("assets/colunacadastro.png");
    background-size: 100% 100%;
    background-position: center;
    width: 30%;
    height: 100%;
    align-items: flex-end;
    position: absolute;
    border-radius: 20px;
}

/*efeito de curva pra fora que tem no texto "cadastro" na esquerda la sabe '-'*/
#cadastro::before{
    content:"";
    position: absolute;
    top: -100%;
    right: -2%;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom-right-radius: 80px;
    box-shadow: 100px 10px 0 0 white;
}

#cadastro::after{
    content:"";
    position: absolute;
    bottom: -100%;
    right: -2%;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top-right-radius: 80px;
    box-shadow: 100px -10px 0 0 white;
}

#cadastro{
    display: flex;
    background-color: white;
    position: absolute;
    top: 30%;
    height: 6vh;
    width: 12vw;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    border-radius: 10px 0px 0px 10px;
    color: #734F96;
}

#turma{
    width: 7vw;
    margin: auto;  
}

.btnladoalado{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#escola{
    margin: auto;
    width: 12vw;
}

#usericon{
    margin-bottom: 3vh;
}