*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Arial;
}

body{
    
    background: #E6E6FA;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #E6E6FA;
}

#logo{
    display: flex;
    height: auto;
    width: 15%;
    margin-top: 2%;
    margin-left: 2%;
    user-select: none;
    pointer-events: none;
}

#titulo{
    display: flex;
    width: max-content;
    text-align: center;
    align-self: center;
    font-size: 6vh;
    color: #5B3B8C;
}

.texto{
    display: flex;
    width: max-content;
    flex-direction: column;
}

#paragrafo{
    font-family: "Roboto Slab";
    margin-top: 7%;
    text-align: center;
    font-size: 4vh;
    font-weight: 500;
    color: #734F96;
}

.botoes{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 5vw;
}

button{
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    width: 10vw;
    font-size: 2vh;
    background: #E6D7FF;
    border: 2px solid #734F96;
    font-weight: bold;
    color: #734F96;
    cursor: pointer;
}

button:active{
    background: #755975;
}

.itensesquerda{
    margin-top: 5%;
    margin-left: 2%;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itens{
    display: flex;
    flex-direction: row;
}

#splash{
    border-radius: 0;
    display: flex;
    height: auto;
    width: 40vw;
    position: fixed;
    right: 0%;
    bottom: 0%;
    user-select: none;
    pointer-events: none;
}